*
{
    margin: 0;
    padding: 0;
    box-sizing:content-box;

}

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/end.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}

.nav-bar .title{
    color:white;
    font-size: 70px;
    font-weight: 600;
}

span{
    color:rgb(35, 150, 35);
    text-shadow: 2px 2px black;

}

.nav-bar p{
    position: absolute;
    margin-top: 100px; 
    margin-left: 50px;
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px black;

}

.menu li{
    list-style:armenian;
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 25px;
    transition: .5s;
    

}

.menu li a:hover{
    color:green;
    padding: 10px 20px;
    border: 2px solid #fff;
}

.h{
 
    width: 100;
    height: 10px;
    border: 0 none;
    margin-right:auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color:#fff;
}

.home{
    height: 400px;
    padding: 70px;

}

.title-1{
    text-align:center;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 40px;
    color:#fff;
    font-weight: 600;
}

.grr {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/poverty1.jpg);
    background-size: cover;


}

.hatdog {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h3 {
    position:relative;
    top: 1em;
    font-size: 30px;
    text-decoration: underline;
}

.brr {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/effects1.jpg);
    background-size: cover;
}

.yuh {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h3 {
    position:relative;
    top: 1em;
    font-size: 30px;
    text-decoration: underline;
}

.raa {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/prevention1.jpg);
    background-size: cover;
}

.nuh {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h3 {
    position:relative;
    top: 1em;
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}

.outer-footer{
    padding:10px;
    text-align: center;
    color:#fff;
    font-size: 18px;
    background-color:rgb(35, 150, 35);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}


/*about*/

.hm2{
    height: 400px;
    padding: 70px;

}

.tt2{
    text-align: center;
    margin-top: 0px;
    margin-left: 25px;
    font-size: 75px;
    color:#fff;
    font-weight: 600;
}

h2 {
     text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 25px;
    color:#fff;
    font-weight: 600;
}

.tt3 {
    width: 150;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/end.jpg);
    background-size: cover;
}

.tt4 {
    width: 150;
    height: 350px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/poverty-campaign-ap-img.jpg);
    background-size: cover;
}


.tt5 {
    width: 150;
    height: 350px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/fight-poverty-not-poor.jpg);
    background-size: cover;
}


/*effects*/

.ef1{
    height: 400px;
    padding: 70px;

}

.fe1{
    text-align: center;
    margin-top: 5px;
    margin-left: 45px;
    font-size: 70px;
    color:#fff;
    font-weight: 600;
}

h6 {
     text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 32px;
    color:#fff;
    font-weight: 600;
}


.ef2 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/mental.jpg);
    background-size: cover;
}

.fe2 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h4 {
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}


.ef3 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/physicakl.jpg);
    background-size: cover;
}

.fe3 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h4 {
   
    margin-top: 20px;
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}


.ef4 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/poverty-and-education_opt-1.jpg);
    background-size: cover;
}

.fe4 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h4 {
   
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}

/*prevention*/

.pr1{
    height: 400px;
    padding: 70px;

}

.rp1{
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 60px;
    color:#fff;
    font-weight: 600;
}

h {
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 35px;
    color:#fff;
    font-weight: 600;
}


.pr2 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/gender.webp);
    background-size: cover;
}

.rp2 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h4 {
   
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}


.pr3 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/finaldeu.jpg);
    background-size: cover;
}

.rp3 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h4 {
   
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}


.pr4 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/health.jpg);
    background-size: cover;
}

.rp4 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h4 {
   
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}
















