*
{
    margin: 0;
    padding: 0;
    box-sizing:content-box;

}

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/end.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}

.nav-bar .title{
    color:white;
    font-size: 70px;
    font-weight: 600;
}


.nav-bar p{
    position: absolute;
    margin-top: 100px; 
    margin-left: 50px;
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px black;

}

.menu li{
    list-style:armenian;
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 25px;
    transition: .5s;
    

}

.menu li a:hover{
    color:green;
    padding: 10px 20px;
    border: 5px solid transparent;
    border-image: url(images/hazardborder.jpg) 40 round;
}



.h{
 
    width: 100;
    height: 10px;
    border: 0 none;
    margin-right:auto;
    margin-left: auto;
    margin-top: 20px;
    background-color:#fff;
}

.home{
    height: 400px;
    padding: 70px;

}

article {
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 55px;
    color:#fff;
    font-weight: 600;
}

.title-1{
    text-align:center;
    font-size: 35px;
    color:white;
    font-weight: 600;
}

.grr {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/poverty1.jpg);
    background-size: cover;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.grr:hover{
    transform:translateY(-10px);
}
.hatdog {
    position:relative;
    top:0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}
.hatdog:hover{
    transform:translateY(-10px);
}

h3 {
    position:relative;
    top: 1em;
    font-size: 30px;
    text-decoration: underline;
}

.brr {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/effects1.jpg);
    background-size: cover;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}
.brr:hover{
    transform:translateY(-10px);
}

.yuh {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}
.yuh:hover{
    transform: translateY(-10px);
}

h3 {
    position:relative;
    top: 1em;
    font-size: 30px;
    text-decoration: underline;
}

.raa {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/prevention1.jpg);
    background-size: cover;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}
.raa:hover{
    transform: translateY(-10px);
}
.nuh {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}

.nuh:hover{
    transform: translateY(-10px);
}
h3 {
    position:relative;
    top: 1em;
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}

footer{
    padding:10px;
    text-align: center;
    color:#fff;
    font-size: 18px;
    background-color:rgb(35, 150, 35);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}
p:hover{
    color:yellow;
}
span{
    color:green;
    
}

.footer-sprites {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between icons */
  }
 
.fb{
	background: url(images/set-of-social-media-icons-editable-vector-free-png.webp) no-repeat -30px -23px;
	width: 46px;
	height: 46px;
}

.ig{background: url(images/set-of-social-media-icons-editable-vector-free-png.webp) no-repeat -139px -23px;
        width: 45px;
        height: 46px;
    }

.idk{
        background: url(images/set-of-social-media-icons-editable-vector-free-png.webp) no-repeat -85px -131px;
        width: 45px;
        height: 46px;
    }
.animation-sprite{
    float:left;
    width: 150px;
    height: 190px;
    background: url(images/medine-removebg-preview.png) no-repeat 0px 0px;
    animation: varName 2s steps(8) infinite;

}

@keyframes varName {
    from {background-position-x: 612px;}
    to{background-position-x: -408px};
}



/*about*/

.hm2{
    height: 400px;
    padding: 70px;

}

.tt2{
    margin-top: 0px;
    text-align:center;
    margin-left: 25px;
    font-size: 70px;
    color:#fff;
    font-weight: 600;
}

h2 {

    text-align: center;
    margin-left: 20px;
    font-size: 22px;
    color:#fff;
    font-weight: 600;

}
video{
   float:right;
   width: 450px;
}


.tt3 {
    width: 150;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/end.jpg);
    background-size: cover;
    transform:skewX(20deg);
}

.tt4 {
    width: 150;
    height: 350px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/poverty-campaign-ap-img.jpg);
    background-size: cover;
    transform:skewX(-20deg);
}


.tt5 {
    width: 150;
    height: 350px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/fight-poverty-not-poor.jpg);
    background-size: cover;
    transform:skewX(20deg);
    
}

video[src$=".mp4"] {
    border: 5px solid green;
    padding: 10px;
}


/*effects*/

.ef1{
    height: 400px;
    padding: 70px;

}

.fe1{
    text-align: center;
    margin-top: 0px;
    margin-left: 45px;
    font-size: 70px;
    color:#fff;
    font-weight: 600;
}

h6 {
    text-align: center;
    margin-top: 5px;
    font-size: 32px;
    color:#fff;
    font-weight: 600;
}


.ef2 {
    width: 100;
    height: 300px;
    margin: 50px;
    margin-top:1px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/mental.jpg);
    background-size: cover;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}

.ef2:hover{
    transform:translateY(-10px);
}
.fe2 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}

.fe2:hover{
    transform:translateY(-10px);
}
h4 {
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}


.ef3 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/physicakl.jpg);
    background-size: cover;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}

.ef3:hover{
    transform:translateY(-10px);
}

.fe3 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}
.fe3:hover{
    transform:translateY(-10px);
}

h4 {
   
    margin-top: 20px;
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}


.ef4 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/poverty-and-education_opt-1.jpg);
    background-size: cover;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}

.ef4:hover{
    transform:translateY(-10px);
}

.fe4 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}

.fe4:hover{
    transform:translateY(-10px);
}

h4 {
   
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}

h6:last-of-type {
    border: 3px solid green;
    padding: 10px;
}

/*prevention*/

.pr1{
    height: 400px;
    padding: 70px;

}

.rp1{
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 60px;
    color:#fff;
    font-weight: 600;
}

h {
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 35px;
    color:#fff;
    font-weight: 600;
}


.pr2 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/gender.webp);
    background-size: cover;
}

.rp2 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h4 {
   
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}


.pr3 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/finaldeu.jpg);
    background-size: cover;
}

.rp3 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h4 {
   
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}


.pr4 {
    width: 100;
    height: 300px;
    margin: 50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/health.jpg);
    background-size: cover;
}

.rp4 {
    position:relative;
    top: 0.3em;
    text-align:center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

h4 {
   
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position:relative;
    top: 1em;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}

.quizcont{ 
    font-family:Arial, Helvetica, sans-serif;
    width: 50%; 
    margin: auto; 
    padding: 20px; 
    border: 20px solid green;
  }
  
  .quizcont h2{ 
    font-family:Arial, Helvetica, sans-serif;
    color:green;
    font-size: 40px;
  }

.question {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal; 
    margin-bottom: 10px;
    display: block;
    text-shadow: none; 
    text-align: center;
}
    
 
  .options button {  
    font-family:Arial, Helvetica, sans-serif;
    display: block; 
    margin: 5px auto; 
    padding: 10px; 
    width: 75%; 

  }

  #score {
    font-family:Arial, Helvetica, sans-serif;
    color:green;
    font-size: 40px;
    text-align:center;
    font-weight: bold;
  }
  
  .correct { 
    background-color: lightgreen; 
  }
  
  .incorrect { 
    background-color: lightcoral; 
  }
  
















